.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.center {
  height: inherit;
}

.search-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 15px;
  margin-bottom: 20px;
}

.sallve-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sallve-title h1 {
  margin: 0 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
