form, .search, .input, .prompt {
  width: 100%;
}

.ui.search .prompt {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.search-container {
  display: flex;

}

.search-icon {
  position: absolute;
  z-index: 1;
  height: 75%;
  max-width: auto;
  top: 5px;
}

.prompt {
  padding-left: 2.67142857em !important;
  padding-right: 0 !important;
}

.ui.primary.button {
  background-color: #FDAAFE;
  color: black;
  margin-left: 15px;
  border-radius: 0;
}

.ui.primary.button:hover {
  background-color: #FDAAFE;
  cursor: pointer;
  color: black;
}

@media (max-width: 600px) 
{
  .search-container 
  {
    flex-direction: column;
    align-items: center;
  }

  .ui.primary.button {
    margin-left: 3.5px;
    margin-top: 20px;
    max-width: 200px;
  }
}