.back-desk {
  display: block;
}

.back-mobile {
  display: none;
}

.ui.animated.button {
  border-radius: 0;
}

@media (max-width: 600px) 
{

  .back-desk
  {
    display: none;
  }

 .back-mobile
  {
    display: block;
    text-align: center;
    padding: 15px 0;

  }

}