.sallve-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 10px;
}

.sallve-title h1 {
  margin: 0 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}